* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Verdana", sans-serif;
}

body, html, #wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #fefefe;
}

a {
	text-decoration: none;
}

ul, li {
	list-style-type: none;
}

img {
	user-select: none;
	pointer-events: none;
}

button, input, textarea, select, option {
	border: 0;
	outline: 0;
}