// Fonts
$proxima: "Proxima Nova", sans-serif;
$averta: "Averta Demo PE Cutter Demo", sans-serif;

// Colors
$black: #000;

$gray: #565656;
$gray-2: #757575;
$gray-3: #959595;

$blue: #2639ED;
$blue-1: #F4F9FF;

$white: #fff;
$white-2: #F2F2F2;
$white-3: #E7F0FC;
$white-4: #E4E4E4;