// Fonts
$proxima: "Proxima Nova", sans-serif;
$averta: "Averta Demo PE Cutter Demo", sans-serif;

// Colors
$black: #000;

$gray: #565656;
$gray-2: #757575;
$gray-3: #959595;

$blue: #2639ed;
$blue-1: #f4f9ff;

$white: #fff;
$white-2: #f2f2f2;
$white-3: #e7f0fc;
$white-4: #e4e4e4;
